.tablehead {
  margin-top: 20px;
  padding: 20px;
  margin-left: 95px;
  width: 1040px; }
  .tablehead h1 {
    font-size: 35px; }

.kHead {
  padding: 20px;
  display: flex; }
  .kHead .kHeadItem {
    display: flex; }

.kFoodItem {
  padding: 5px 20px 5px 20px; }
  .kFoodItem:first-child {
    padding-top: 20px; }

span {
  font-size: 10px; }

.kPageContainer {
  display: flex;
  margin-left: 20px; }
  .kPageContainer .kContainer {
    width: 300px;
    height: 605px;
    background-color: #fde8b3;
    position: relative;
    top: 48px;
    left: 50px;
    border-radius: 12px;
    margin-right: 50px; }
    .kPageContainer .kContainer .kpin {
      color: red;
      font-size: 30px;
      position: relative;
      top: -16px;
      left: 138px; }
    .kPageContainer .kContainer .kHead .kHeadItem {
      width: 48%;
      display: inline-block; }
    .kPageContainer .kContainer .kFood .kFoodBar {
      background-color: #e4e4e4;
      text-align: center;
      padding: 2px;
      margin-bottom: 20px; }
    .kPageContainer .kContainer .kFood li {
      margin-bottom: 10px; }
    .kPageContainer .kContainer .kFood .kFoodItem {
      width: 100%; }
      .kPageContainer .kContainer .kFood .kFoodItem .kFoodTitle {
        display: inline-block;
        width: 170px; }
      .kPageContainer .kContainer .kFood .kFoodItem .kFoodStatus {
        display: inline-block; }
      .kPageContainer .kContainer .kFood .kFoodItem .kFoodNum {
        vertical-align: top;
        display: inline-block; }
      .kPageContainer .kContainer .kFood .kFoodItem .kFoodStatus {
        vertical-align: top;
        display: inline-block;
        color: greenyellow;
        margin-left: 26px; }
  .kPageContainer .kFoodMain {
    display: flex; }

.kButton {
  cursor: pointer;
  padding: 12px;
  border-radius: 20px;
  background-color: #efa25f;
  color: white;
  border: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px; }

.resScrollbar {
  border-radius: 10px;
  float: left;
  height: 320px;
  width: 300px;
  overflow-y: scroll;
  overflow-x: auto;
  margin-bottom: 25px; }

.resOverflow {
  min-height: 600px; }

#resScrollstyle::-webkit-scrollbar {
  width: 10px; }

#resScrollstyle::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #dddddd; }

.resScrollbar2 {
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  float: left;
  height: 700px;
  width: 1100px;
  overflow-y: auto;
  overflow-x: auto;
  margin-bottom: 25px;
  margin: 70px auto 0; }

.resOverflow {
  min-height: 600px; }

#resScrollstyle2::-webkit-scrollbar {
  width: 10px; }

#resScrollstyle2::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #dddddd; }
